OPENAI_API_KEY= 
OPENAI_ORGANIZATION= #optional
# POSTGRES stuff to connect to the database containing the the embeddings. Can be found in the Vercel dashboard
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

ROOT_DIR= #used for PDF ingestion - absolute path to the directory where the PDFs are stored
EMBEDDINGS_TABLE_NAME= #name of the table containing the embeddings
LANGSMITH_TEST_DATASET_NAME= #contains the test questions
OPEN_AI_MODEL_NAME= #gpt-3.5-turbo-1106 or gpt-4