OPENAI_API_KEY= 

# POSTGRES stuff to connect to the database containing the the embeddings. Can be found in the Vercel dashboard
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

ROOT_DIR= #used for PDF ingestion - absolute path to the directory where the PDFs are stored