@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3.5rem;
}

html {
  --scrollbarBG: transparent;
  --thumbBG: grey;
}

body::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
